<strong>Olá, {{ courier }} </strong>
<p>Uma de suas entregas foi cancelada:</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Motivo:</strong> {{ description }} <br />
  <br/>
  <small>
    Para mais informações, entre em contato com a distribuidora.<br />
  </small>
</p>
