<strong>Olá, {{ courier }} </strong>
<p>Você tem uma nova entrega registrada em seu nome:</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <br/>
  <small>
    O produto já está disponível para ser retirado.<br />
    Os detalhes da entrega serão enviados no momento da retirada. <br />
    Boas entregas!
  </small>
</p>
